/* Formato Body */

body{
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    color: white;
}

select{

    border-radius: 10%;
}
